body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background-color: rgb(255, 253, 253);
}

main {
    flex: 1;
}

.side-bar {
    width: 60px;
    background-color:green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    height: 100vh;
    transform: rotate(180deg);
    justify-content: space-evenly; /* Add to space element */
    
}

.side-bar a {
    writing-mode: vertical-rl; /* to turn element */
    text-orientation: mixed;
    text-decoration: none;
    color: black; 
    margin: 10px 0;
    margin: 10px 0;
    font-size: large;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
    
}

.side-bar a:hover {
    color: white;
}
 .side-bar li{
    margin: 15px 0;
 }
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85vh;
}
.slides {
    display: flex;
    gap: 20px;
   
}

.slides img {
    border-radius: 10%;
    margin-left: 18px;
    border-style: groove inset;
    animation: bounce 5s ease-in-out;
    margin-left: 1%;
}

footer {
    
    text-align: center;
    width: 100%;
    bottom: 0;
    font-family: Arial, sans-serif;
    

}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

footer ul li {
    display: inline-block;
    margin-right: 15px;
}


footer ul li a {
    text-decoration: none;
    color: #000;
    
    
}

.icontitle {
    margin-left: 10px; /*  title icon picture */
}

h1 {
    text-align: left;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 8%;
    color: green;
    margin-top: -8%;
}
 .accroche{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    white-space: prewrap;
    margin-left: 8%;
    margin-right: 22%;
    line-height: 2;
    border-color:rgb(214, 191, 191);
    border-style: hidden double inset groove;
    border-radius: 10px;
    
}
.accroche2{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    white-space: prewrap;
    margin-left: 22%;
    margin-right: 8%;
    line-height: 2;
    border-color:rgb(214, 191, 191);
    border-style: hidden double inset groove;
    border-radius: 10px;
    
}

h2 {
    text-align: right;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-right: 8%;
    color: green;
}
h3 {
    text-align: left;
    font-family: Arial, sans-serif;
    text-decoration: none;
    margin-left: 8%;
    color:green;
    text-decoration: bold;
    margin-top: 3%;
}

.accroche3{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    white-space: prewrap;
    margin-left: 8%;
    margin-right: 22%;
    margin-top: 3%;
    line-height: 2;
    border-color:rgb(214, 191, 191);
    border-style: hidden double inset groove;
    border-radius: 10px;
    
}
@keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title{
    animation: titleAnimation 5s ease-in-out;
}

@keyframes bounce { /* bounce animation for the main pictures */
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media (max-width: 768px) {
    .accroche {
        text-align: center;
        margin-left: 18%;
    }
}

@media (max-width: 768px) {
    h1  {
        margin-left: 18%;
    }
}

@media (max-width: 768px) {
    h3  {
        margin-left: 20%;
    }
}

@media (max-width: 768px) {
    .accroche3 {
        text-align: center;
        margin-left: 18%;
    }
}

@media (max-width: 768px) {
    .slides {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25%;
    }
    .slides img {
        width: 45%;
        margin-left: 5%;
        animation: bounce 3s ease-in-out;
        
    }
}

@media (max-width:768px) {
    .logo {
        position: absolute;
        bottom: 100%;
        left: 55%;
        width: 13%; 
        opacity: 0.9;
       
    }
}
